:root {
    --accent: #A7C7E7;
    --accent-hover: #4a90e2;
    --accent-soft: rgba(167, 199, 231, .1);
    --accent-row: rgba(167, 199, 231, .05);
    --accent-border: rgba(202, 225, 255, .5);
    --vote: #CAE1FF;
    --button-light: #a8d4ff;
    --button-dark: #4a90e2;
    --reset-text: #333;
    --title-start: #89CFF0;
    --title-middle: #A7C7E7;
    --title-end: #CAE1FF;
    --table-start: #222;
    --table-end: #333;
    --dropdown-bg: #2a2a2a;
    --rank: #89CFF0;
    --input-bg: #2a2a2a;
    --input-text: #fff;
}