<!DOCTYPE html>
<html lang="zh">
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ISML 2026 数据观测 - 提供赛事数据分析、角色数据统计和比赛结果展示">
    <meta name="keywords" content="ISML,国际萌战,动漫角色,数据可视化,投票统计,数据分析,角色统计,比赛结果,数据统计,国际最萌大会,世萌,萌战">
    <title>ISML 2026 数据观测</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="css/common/global.css">
    <link rel="stylesheet" href="css/common/navbar.css">
    <link rel="stylesheet" href="css/common/footer.css">
    <script src="js/common/footer.js"></script>
    <script src="js/common/copy-email.js"></script>
  </head>
  <body>
    <include src="templates/navbar.html"></include>
  </body>
</html>
